#slidead-popup {
  -webkit-box-shadow: -1px -1px 5px #999;
  -moz-box-shadow: -1px -1px 5px #999;
  -o-box-shadow: -1px -1px 5px #999;
  background: #fff;
  border: 1px solid #cdcaca;
  bottom: 0;
  box-shadow: -1px -1px 5px #999;
  padding: 5px 10px;
  position: fixed;
  z-index: 1000;
}
#slidead-popup h3 {
  border-bottom: 2px solid #444;
  margin: 0 0 5px 0;
  padding: 0;
}

#pop-close span {
  border: 1px solid #cdcaca;
  cursor: pointer;
  display: block;
  font-size: 7px;
  font-weight: bold;
  padding: 0 4px;
  position: absolute;
  right: 5px;
  top: 8px;
}
